<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMAutomationV1">

<!-- suite name="Suite" parallel="tests" -->    <!-- to test parallely at a time, conducting two or more classes is also possible. if test pakage contains multiple classes  -->

	<listeners>
	<listener class-name="com.OrangeHRMAutomation.utilities.Reporting"/>
	</listeners>

  <test name="OrangeHRMTest">
  <parameter name="browser" value="chrome"></parameter>
    
    <classes>
      <!--class name="com.ActiTimeAutomation.testcases.TC_LoginTest_001"-->
      <class name="com.OrangeHRMAutomation.testcases.TC_addEmployee_002"/>
      
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
